<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>118.184.219.165:14561</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS</timestampPattern>
        </encoder>

        <keepAliveDuration>5 minutes</keepAliveDuration>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="stash" />
    </root>
</configuration>